<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tox.dao.ActivityNewUserMapper" >
  <resultMap id="BaseResultMap" type="com.tox.bean.ActivityNewUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="is_pay" property="isPay" jdbcType="VARCHAR" />
    <result column="from_date" property="fromDate" jdbcType="TIMESTAMP" />
    <result column="to_date" property="toDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="is_sign" property="isSign" jdbcType="VARCHAR" />
    <result column="first_online_date" property="firstOnlineDate" jdbcType="TIMESTAMP" />
    
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, create_date, is_del, is_pay, from_date, to_date, type, city,is_sign,first_online_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity_new_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
   <select id="selectByPhone" resultMap="BaseResultMap" parameterType="com.tox.bean.ActivityNewUser">
      select 
    <include refid="Base_Column_List" />
    from activity_new_user
    <where>
        1=1 and is_del = 0
    	<if test="phone != null and phone != ''">
    	   and PHONE = #{phone}
    	</if>
    </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_new_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tox.bean.ActivityNewUser" >
    insert into activity_new_user (id, phone, create_date, 
      is_del, is_pay, from_date, 
      to_date, type, city
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=INTEGER}, #{isPay,jdbcType=VARCHAR}, #{fromDate,jdbcType=TIMESTAMP}, 
      #{toDate,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tox.bean.ActivityNewUser" >
    insert into activity_new_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="isPay != null" >
        is_pay,
      </if>
      <if test="fromDate != null" >
        from_date,
      </if>
      <if test="toDate != null" >
        to_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="isSign != null" >
        is_sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isPay != null" >
        #{isPay,jdbcType=VARCHAR},
      </if>
      <if test="fromDate != null" >
        #{fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="toDate != null" >
        #{toDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="isSign != null" >
        #{isSign,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tox.bean.ActivityNewUser" >
    update activity_new_user
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isPay != null" >
        is_pay = #{isPay,jdbcType=VARCHAR},
      </if>
      <if test="fromDate != null" >
        from_date = #{fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="toDate != null" >
        to_date = #{toDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="isSign != null" >
        is_sign = #{isSign,jdbcType=VARCHAR},
      </if>
      <if test="firstOnlineDate != null" >
        first_online_date = #{firstOnlineDate,jdbcType=VARCHAR},
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tox.bean.ActivityNewUser" >
    update activity_new_user
    set phone = #{phone,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      is_pay = #{isPay,jdbcType=VARCHAR},
      from_date = #{fromDate,jdbcType=TIMESTAMP},
      to_date = #{toDate,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="findNewUser" parameterType="com.tox.bean.ActivityNewUser" resultMap="BaseResultMap">
      select 
      	<include refid="Base_Column_List" />
      from 
      	activity_new_user
      <where>
          1=1 and is_del = 0
          <if test="phone != null and phone != ''">
              AND PHONE like #{phone}
          </if>
          <if test="startDate != null">
              AND DATE_FORMAT(CREATE_DATE,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d')
          </if>
          <if test="endDate != null">
              AND DATE_FORMAT(CREATE_DATE,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
          </if>
          <if test="city != null">
             AND city = #{city}
          </if>
           <if test="isPay != null">
             AND is_pay = #{isPay}
          </if>
          <!-- 月卡未生效 -->
          <if test="monthStatus != null and monthStatus == '0' and monthStatus != '3'">
             AND from_date is null 
          </if>
          <!-- 月卡生效 -->
           <if test="monthStatus != null and monthStatus == '1' and monthStatus != '3'">
             AND to_date &gt;= DATE_FORMAT(now(),'%Y-%m-%d') 
          </if>
          <!-- 月卡失效 -->
           <if test="monthStatus != null and monthStatus == '2' and monthStatus != '3'">
             AND to_date &lt; DATE_FORMAT(now(),'%Y-%m-%d') 
          </if>
          
           <!-- 上线时间 -->
           <if test="monthStatus != null and monthStatus == '2' and monthStatus != '3'">
             AND to_date &lt; DATE_FORMAT(now(),'%Y-%m-%d') 
          </if>
          
          order by CREATE_DATE desc
          <if test="pageSize>0">
			limit #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		 </if>
	
      </where>
  </select>
  
   <select id="findMonthCard" parameterType="com.tox.bean.ActivityNewUser" resultMap="BaseResultMap">
      select 
      	<include refid="Base_Column_List" />,DATEDIFF(to_date,from_date) AS monthDay
      from 
      	activity_new_user
      <where>
          1=1 and ISDEL = 0
          <!-- 电话号查询 -->
           <if test="phone != null and phone != ''">
              AND PHONE like #{phone}
          </if>
             <!-- 月卡未生效 -->
          <if test="monthStatus != null and monthStatus == '0' and monthStatus != '3'">
             AND from_date is null 
          </if>
          <!-- 月卡生效 -->
           <if test="monthStatus != null and monthStatus == '1' and monthStatus != '3'">
             AND to_date &gt;= DATE_FORMAT(now(),'%Y-%m-%d') 
          </if>
          <!-- 月卡失效 -->
           <if test="monthStatus != null and monthStatus == '2' and monthStatus != '3'">
             AND to_date &lt; DATE_FORMAT(now(),'%Y-%m-%d') 
          </if>
          
           <if test="firstOnlineDate != null">
            AND  between '2017-07-25 00:00:00' and  '2017-07-25 24:00:00';
          </if>
          
         
   	  </where>
   </select>
  
  
</mapper>