<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tox.dao.CouponMapper">
  <resultMap id="BaseResultMap" type="com.tox.bean.Coupon" >
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="FROM_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="TO_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="USE_TIME" property="useDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    NAME,FROM_DATE,TO_DATE,USE_TIME
  </sql>
 <select id="getCouponsByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	SELECT
		t3.`NAME`,
		t3.FROM_DATE,
		t3.TO_DATE,
		(
			SELECT
				elec_order.CREATE_TIME
			FROM
				elec_order
			WHERE
				t2.ID = COUPON_ID
		  and `STATUS` = 0
		) AS USE_TIME
	FROM
		elec_user t1
	LEFT JOIN elec_user_coupons_rel t2 ON t1.ID = t2.USER_ID
	LEFT JOIN elec_coupons t3 ON t2.COUPONS_ID = t3.ID
	WHERE t3.`NAME` IS NOT NULL
	AND t1.ID = #{userId}
  </select>
</mapper>