<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tox.dao.ElecOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.tox.bean.ElecOrganization" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, region, createdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from elec_organization
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from elec_organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
   <select id="selectOrganization" resultMap="BaseResultMap" parameterType="com.tox.bean.ElecOrganization" >
    select 
    <include refid="Base_Column_List" />
    from elec_organization
    where 1=1 
    <if test="organization.id != null and organization.id != '' " >
        and ID = #{organization.id,jdbcType=INTEGER}
    </if>
    <if test="organization.name != null and organization.name != ''">
        <bind name="name" value="'%'+organization.name+'%'"/>
        and name like #{name}
	 </if>
 
    order by createdate desc
    <if test="organization.pageSize>0">
		limit #{organization.pageNum,jdbcType=INTEGER},#{organization.pageSize,jdbcType=INTEGER}
	</if>
  </select>
  <select id="selectOrganizationCount" resultType="java.lang.Integer" parameterType="com.tox.bean.ElecOrganization" >
    select count(*)
    from elec_organization
    where 1=1 
    <if test="organization.id != null and organization.id != '' " >
        and ID = #{organization.id,jdbcType=INTEGER}
    </if>
    <if test="organization.name != null and organization.name != ''">
        <bind name="name" value="'%'+organization.name+'%'"/>
        and name like #{name}
	</if>
  </select>
  
  
  <insert id="insert" parameterType="com.tox.bean.ElecOrganization" >
    insert into elec_organization (id, name, region, 
      createdate)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tox.bean.ElecOrganization" >
    insert into elec_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tox.bean.ElecOrganization" >
    update elec_organization
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tox.bean.ElecOrganization" >
    update elec_organization
    set name = #{name,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>